<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    {{!-- {{{body}}} --}}
    <link rel="stylesheet" href="/styles/style.css" />
    <div class="main-login">
      <div class="left-login">
        <img src="/images/sign-up-animate.svg" class="left-login-img" alt="" />
      </div>
      <div class="rigth-login">
        {{{body}}}
        <div class="footer">
          {{!-- <p>Error</p> --}}
        </div>
      </div>
    </div>
  </body>
</html>